.comment-card-container {
  display: flex;
  align-items: center;
}

.comment-card {
  width: 30rem;
  margin: 2rem 0;
  border-bottom: 1px solid var(--subtle-gray);
  padding: 1rem 0;
}

.username-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-text {
  margin-top: 1rem;
  width: 20rem;
  border: none;
  background-color: transparent;
  color: var(--light-gray);
}

.edit-comment {
  display: flex;
  align-items: center;
}
